<% Category.all.each do |category| %>
<li>
	<%= link_to category.name, collections_path + "/byCategory/" + category.name %>
</li>
<% end %>
<li>
	<%= link_to "All", collections_path %>
</li>

