<div class="content">
    <ul>
      <% Category.all.each do |category| %>
          <li> <%= link_to category.name, collections_path + "/byCategory/" + category.name %></li>
      <% end %>
    </ul>
</div>

